<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="PrabathIshanka" connectionString="Server=You'r Server IP;UserName='Username';Password='Password';CS=DataTable;Integrated Security=False;Connection Timeout=60000;" providerName="Sap.Data.Hana"/>
  </connectionStrings>
  <appSettings>
    <add key="DS" value="NDB@amaliatesthana:30013"/>
    <add key="DB" value="DataTable"/>
    <add key="AU" value="false"/>
    <add key="UN" value="Username"/>
    <add key="PW" value="Password"/>
    <add key="SS" value="Database"/>
    <add key="SAPUN" value="SAP User Name"/>
    <add key="SAPPW" value="SAP Password"/>
    <add key="email" value="Your Email@gmail.com"/>
    <add key="ePw" value="Email Password"/>
    <add key="smpt" value="smtp.gmail.com"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="path" value="Report Path"/>
    <add key="RepKey" value="Report key"/>
    <add key="val" value="Report Value"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
